@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#0B0F19] text-slate-200;
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold;
}

code,
pre,
.font-mono {
    font-family: 'JetBrains Mono', monospace;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-slate-900;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600;
}